### Maven ###
target/

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Node / React ###
node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Env ###
.env